---
layout: archive
title: "Research"
permalink: /publications/
author_profile: true
---

<link rel="stylesheet" type="text/css" href="styles.css">
<div class="content">
    <h3>Publications:</h3>
    <ul>
        <li>
            <a href="https://doi.org/10.1162/rest_a_01112">How Flexible is that Functional Form? Quantifying the Restrictiveness of Theories</a>, with <a href="https://economics.mit.edu/faculty/dfudenberg">Drew Fudenberg</a> and <a href="https://www.anniehliang.com">Annie Liang</a>, forthcoming in <i>Review of Economics and Statistics</i>. 
            (Extended Abstract in <a href="https://dl.acm.org/doi/10.1145/3465456.3467634">Proceedings of the 22nd ACM Conference on Economics and Computation</a>, 2021, 497-498. 
            Award: Exemplary Artificial Intelligence and Computation Track Paper, ACM EC'21)
        </li>
        <li>
            <a href="https://doi.org/10.1016/j.jeconom.2022.09.003">Using Monotonicity Restrictions to Identify Models with Partially Latent Covariates</a>, with <a href="https://economics.sas.upenn.edu/people/minji-bang">Minji Bang</a>, <a href="https://www.sas.upenn.edu/~apostlew/">Andrew Postlewaite</a>, and <a href="https://www.sas.upenn.edu/~sieg/">Holger Sieg</a>, <i>Journal of Econometrics</i>, 2023, 235(2), 892-921.
        </li>
        <li>
            <a href="https://www.sciencedirect.com/science/article/pii/S0304407622002470">Logical Differencing in Dyadic Network Formation Models under Non-Transferable Utilities</a>, with <a href="https://www.ming-li.net">Ming Li</a> and <a href="https://statistics.yale.edu/people/sheng-xu">Sheng Xu</a>, <i>Journal of Econometrics</i>, 2023, 235(1), 302-324.
        </li>
        <li>
            <a href="https://academic.oup.com/restud/article/89/5/2329/6362334">Informal Risk Sharing with Local Information</a>, with <a href="https://sites.duke.edu/ambrus/">Attila Ambrus</a> and <a href="https://sites.google.com/site/paumilan/">Pau Milan</a>, <i>Review of Economic Studies</i>, 2022, 89(5), 2329–2380.
        </li>
        <li>
            <a href="https://doi.org/10.1016/j.jeconom.2019.05.012">Nonparametric Identification in Index Models of Link Formation</a>, <i>Journal of Econometrics</i>, 2020, 215(2), 399-413. (Award: 2021 Arnold Zellner Award for Best Theory Paper Published in 2019-2020, <i>Journal of Econometrics</i>)
        </li>
        <li>
            <a href="https://www.sciencedirect.com/science/article/pii/S0047259X1830074X">Minimax Linear Estimation at a Boundary Point</a>, <i>Journal of Multivariate Analysis</i>, 2018, 165, 262-269.
        </li>
        <li>
            <a href="https://www.sciencedirect.com/science/article/pii/S030440761730003X">Structural Inference from Reduced Forms with Many Instruments</a>, with <a href="http://korora.econ.yale.edu/phillips/">Peter C.B. Phillips</a>, <i>Journal of Econometrics</i>, 2017, 199, 96-116.
        </li>
        <li>
            <a href="https://www.degruyter.com/document/doi/10.1515/bejte-2015-0040/html">Informal Insurance Networks</a>, with <a href="https://www.liverpool.ac.uk/management/staff/eunyoung-moon/">Eunyoung Moon</a>, <i>B.E. Journal of Theoretical Economics</i>, 2016, 16, 455-484.
        </li>
    </ul>

    <hr>

    <h3>Working Papers:</h3>
    <ul>
        <li>
            <a href="https://arxiv.org/abs/2203.17112">Identification of Dynamic Nonlinear Panel Models under Partial Stationarity</a>, with <a href="https://sites.google.com/view/ruiwang/">Rui Wang</a>, revision and resubmission requested by <i>Journal of Econometrics</i>.
        </li>
        <li>
             <a href="https://arxiv.org/abs/2203.17111">IV Regressions without Exclusion Restrictions</a>, with <a href="https://sites.google.com/view/ruiwang/">Rui Wang</a>
        </li>
         <li>
              <a href="#">Two-Stage Maximum Score Estimator</a>, with <a href="https://www.pacm.princeton.edu/people/sheng-xu">Sheng Xu</a> and <a href="https://kanxu526.github.io/">Kan Xu</a>
        </li>
         <li>
            <a href="https://arxiv.org/abs/2203.17110">Dynamic Heterogeneous Distribution Regression Panel Models, with an Application to Labor Income Processes</a>, with <a href="https://sites.bu.edu/ivan/">Ivan Fernandez-Val</a>, <a href="http://econweb.rutgers.edu/yl1237/">Yuan Liao</a>, and <a href="https://sites.google.com/site/francisvellaswebsite/">Francis Vella</a>, revision and resubmission requested by <i>Quantitative Economics</i>.
        </li>
        <li>
             <a href="https://arxiv.org/abs/2203.17109">A Partial Order on Preference Profiles</
::contentReference[oaicite:0]{index=0}


<!-- New style rendering if publication categories are defined -->
{% if site.publication_category %}
  {% for category in site.publication_category  %}
    {% assign title_shown = false %}
    {% for post in site.publications reversed %}
      {% if post.category != category[0] %}
        {% continue %}
      {% endif %}
      {% unless title_shown %}
        <h2>{{ category[1].title }}</h2><hr />
        {% assign title_shown = true %}
      {% endunless %}
      {% include archive-single.html %}
    {% endfor %}
  {% endfor %}
{% else %}
  {% for post in site.publications reversed %}
    {% include archive-single.html %}
  {% endfor %}
{% endif %}
 



