---
layout: archive
title: ""
permalink: /research/
author_profile: true
---

<div style="text-align: center; font-size: 2em; color:#011F5B">
  RESEARCH
</div>


<link rel="stylesheet" type="text/css" href="styles.css">
<div class="content">
    <h3>Publications:</h3>
    <ul>
        <li>
            <a href="https://doi.org/10.1016/j.jeconom.2026.106185">Identification of Dynamic Nonlinear Panel Models under Partial Stationarity</a>, with <a href="https://sites.google.com/view/rui-wang-econ/">Rui Wang</a>, accepted for publication in the <i>Journal of Econometrics</i>.
        </li>
        <li>
        <a href="https://arxiv.org/abs/2412.05604">Optimization via Strategic Law of Large Numbers</a>, with <a href="https://economics.yale.edu/people/xiaohong-chen">Xiaohong Chen</a>, <a href="https://en.mis.sdu.edu.cn/People/Dinstinct_Scholars/Cheung_Kong_Scholar/Zengjing_CHEN/Basic_Information.htm">Zengjing Chen</a>, <a href="https://yanxiaodong128.github.io/">Xiaodong Yan</a>, and Guodong Zhang, forthcoming in <i>Proceedings of the National Academy of Science</i> (Direct Submission). 
        </li>
        <li>
        <a href="https://papers.ssrn.com/sol3/papers.cfm?abstract_id=3282293">Identification of Semiparametric Panel Multinomial Choice Models with Infinite-Dimensional Fixed Effects</a>, with <a href="https://mingliecon.github.io">Ming Li</a>, accepted for publication in the <i>Review of Economics and Statistics</i>.
        </li>
        <li>
            <a href="https://doi.org/10.1162/rest_a_01401">How Flexible is that Functional Form? Quantifying the Restrictiveness of Theories</a>, with <a href="https://economics.mit.edu/people/faculty/drew-fudenberg">Drew Fudenberg</a> and <a href="https://www.anniehliang.com">Annie Liang</a>, forthcoming in <i>Review of Economics and Statistics</i>. 
            (Extended Abstract in <a href="https://doi.org/10.1145/3465456.3467556">Proceedings of the 22nd ACM Conference on Economics and Computation</a>, 2021, 497-498. 
            Award: Exemplary Artificial Intelligence and Computation Track Paper, ACM EC'21)
        </li>
        <li>
            <a href="https://doi.org/10.1016/j.jeconom.2022.08.004">Using Monotonicity Restrictions to Identify Models with Partially Latent Covariates</a>, with <a href="https://www.minjibang.com/">Minji Bang</a>, <a href="https://www.sas.upenn.edu/~apostlew/">Andrew Postlewaite</a>, and <a href="https://www.sas.upenn.edu/~holgers/">Holger Sieg</a>, <i>Journal of Econometrics</i>, 2023, 235(2), 892-921.
        </li>
        <li>
            <a href="https://doi.org/10.1016/j.jeconom.2022.03.008">Logical Differencing in Dyadic Network Formation Models under Non-Transferable Utilities</a>, with <a href="https://mingliecon.github.io">Ming Li</a> and <a href="https://sx67.github.io/">Sheng Xu</a>, <i>Journal of Econometrics</i>, 2023, 235(1), 302-324. (Award: 2025 Arnold Zellner Award for the Best Theory Paper Published in the <i>Journal of Econometrics</i> 2023-2024)
        </li>
        <li>
            <a href="https://doi.org/10.1093/restud/rdab091">Informal Risk Sharing with Local Information</a>, with <a href="https://sites.duke.edu/attilaambrus/">Attila Ambrus</a> and <a href="https://sites.google.com/site/paumilan/">Pau Milan</a>, <i>Review of Economic Studies</i>, 2022, 89(5), 2329–2380.
        </li>
        <li>
            <a href="https://doi.org/10.1016/j.jeconom.2019.09.005">Nonparametric Identification in Index Models of Link Formation</a>, <i>Journal of Econometrics</i>, 2020, 215(2), 399-413. (Award: 2021 Arnold Zellner Award for the Best Theory Paper Published in the <i>Journal of Econometrics</i> 2019-2020)
        </li>
        <li>
            <a href="https://doi.org/10.1016/j.jmva.2018.01.001">Minimax Linear Estimation at a Boundary Point</a>, <i>Journal of Multivariate Analysis</i>, 2018, 165, 262-269.
        </li>
        <li>
            <a href="https://doi.org/10.1016/j.jeconom.2017.05.003">Structural Inference from Reduced Forms with Many Instruments</a>, with <a href="http://korora.econ.yale.edu/phillips/">Peter C.B. Phillips</a>, <i>Journal of Econometrics</i>, 2017, 199, 96-116.
        </li>
        <li>
            <a href="https://doi.org/10.1515/bejte-2015-0006">Informal Insurance Networks</a>, with <a href="https://www.liverpool.ac.uk/management/staff/eunyoung-moon/">Eunyoung Moon</a>, <i>B.E. Journal of Theoretical Economics</i>, 2016, 16, 455-484.
        </li>
    </ul>

    <hr>

    <h3>Working Papers:</h3>
    <ul>
        <li>
          <a href="https://arxiv.org/abs/2511.19121">ReLU-Based and DNN-Based Generalized Maximum Score Estimators</a>, with <a href="https://economics.yale.edu/people/xiaohong-chen">Xiaohong Chen</a> and <a href="https://scholar.google.com/citations?user=BP74Pg8AAAAJ&hl=en">Likang Wen</a>. 
        </li>
        <li>
          <a href="https://arxiv.org/abs/2510.25607">Inference on Welfare and Value Functionals under Optimal Treatment Assignment</a>, with <a href="https://economics.yale.edu/people/xiaohong-chen">Xiaohong Chen</a> and <a href="https://economics.sas.upenn.edu/people/zhenxiao-chen">Zhenxiao Chen</a>.
        </li>
        <li>
        <a href="https://arxiv.org/abs/2507.12673">Semiparametric Learning of Integral Functionals on Submanifolds</a>, with <a href="https://economics.yale.edu/people/xiaohong-chen">Xiaohong Chen</a>.
        </li>
        <li>
             <a href="https://arxiv.org/abs/2304.00626">IV Regressions without Exclusion Restrictions</a>, with <a href="https://sites.google.com/view/rui-wang-econ">Rui Wang</a>
        </li>
         <li>
              <a href="https://arxiv.org/abs/2009.02854">Two-Stage Maximum Score Estimator</a>, with <a href="https://sx67.github.io/">Sheng Xu</a> and <a href="https://kanxu526.github.io/">Kan Xu</a>
        </li>
         <li>
            <a href="https://arxiv.org/abs/2202.04154">Dynamic Heterogeneous Distribution Regression Panel Models, with an Application to Labor Income Processes</a>, with <a href="https://sites.bu.edu/ivan/">Ivan Fernandez-Val</a>, <a href="http://econweb.rutgers.edu/yl1237/">Yuan Liao</a>, and <a href="https://sites.google.com/site/francisvellaswebsite/">Francis Vella</a>, revision and resubmission (2nd-round) requested by <i>Quantitative Economics</i>.
        </li>
        <li>
             <a href="https://arxiv.org/abs/2108.08465">A Partial Order on Preference Profiles</a>
        </li>
    </ul>
  
    <hr>
             
    <h3>Work in Progress:</h3>
        <ul>
        <li>
          Identification of Strategic Network Formation Models with Unobserved Heterogeneity, with <a href="https://mingliecon.github.io">Ming Li</a> and <a href="https://economics.sas.upenn.edu/people/zhengyan-xu">Zhengyan Xu</a>. 
        </li>
        <li>
          Restrictiveness in Functional and Structural Settings, with <a href="https://economics.mit.edu/people/faculty/drew-fudenberg">Drew Fudenberg</a> and <a href="https://economics.sas.upenn.edu/people/zhiheng-you">Zhiheng You</a>. 
        </li>
        <li>
          Can LLMs Predict Human Behavior? A Measure of Their Pretrained Knowledge, with <a href="https://sukjinhan.com">Sukjin Han</a> and <a href="https://www.anniehliang.com">Annie Liang</a>. 
        </li>
         </ul>


<!-- New style rendering if publication categories are defined -->
{% if site.publication_category %}
  {% for category in site.publication_category  %}
    {% assign title_shown = false %}
    {% for post in site.publications reversed %}
      {% if post.category != category[0] %}
        {% continue %}
      {% endif %}
      {% unless title_shown %}
        <h2>{{ category[1].title }}</h2><hr />
        {% assign title_shown = true %}
      {% endunless %}
      {% include archive-single.html %}
    {% endfor %}
  {% endfor %}
{% else %}
  {% for post in site.publications reversed %}
    {% include archive-single.html %}
  {% endfor %}
{% endif %}




