---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---

<div style="text-align: center; font-size: 2em;">
  TEACHING
</div>

<h3>Penn:​</h3>
  <li>​ECON7310 Econometrics II Methods & Models: Spring 2023, 2024, 2025</li>
  <li>​ECON7300 Econometrics I Fundamentals: Fall 2023</li>
  <li>​ECON8300 Topics in Advanced Econometrics: Fall 2022, 2023</li>
  <li>​ECON712 Econometrics of Networks, Fall 2021, Spring 2025</li>
  <li>​ECON103/2300 Statistics for Economists: Spring 2020, 2021; Fall 2021, 2022, 2023</li>
<h3>Harvard:​</h3>
  <li>ECON2140 Econometric Methods: Spring 2022</li>


{% include base_path %}

{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %}
